<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Statistics By Pharmacological Group</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<h1 style="text-align: center;">Statistics By Pharmacological Group</h1>

<div class="add-form">
  <label for="category-id">Choose pharmacological group for statistics:</label><br>
  <select id="category-id">
    <option th:each="category : ${categories}" th:value="${category.id}" th:utext="${category.name}"></option>
  </select><br><br>
</div>

<div style="margin-top: 60px;"></div>

<div class="add-form">
  <p>Next week group prediction: <span id="nextWeekOutflowPrediction"></span> units</p>
  <p>Next month group prediction: <span id="nextMonthOutflowPrediction"></span> units</p>
  <br><br><br>
  <div id="chart-container">
    <canvas id="outflow-chart"></canvas>
  </div>
</div>

<div style="text-align: center;">
  <a href="/home" class="home-button">Main Page</a>
</div>

<script>
  var myChart;

  function getStatisticsData() {
    var productId = document.getElementById("category-id").value;
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE) {
            if (xhr.status === 200) {
                var response = JSON.parse(xhr.responseText);

              document.getElementById('nextWeekOutflowPrediction').textContent = response.nextWeekOutflowPrediction;
              document.getElementById('nextMonthOutflowPrediction').textContent = response.nextMonthOutflowPrediction;

                if (myChart) {
                    myChart.destroy();
                }

                var ctx = document.getElementById('outflow-chart').getContext('2d');
                myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: response.labels,
                        datasets: [{
                            label: 'Group flow',
                            data: response.outflowValues,
                            borderColor: 'rgb(75, 192, 192)',
                            tension: 0.1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });

                myChart.update();
            } else {
                console.error('Request execution error:', xhr.status);
            }
        }
    };
    xhr.open('GET', '/statistics-category/' + productId);
    xhr.send();
  }


  document.addEventListener("DOMContentLoaded", function() {
    getStatisticsData();
  });


  document.getElementById('category-id').addEventListener('change', function() {
    getStatisticsData();
  });
</script>
</body>
</html>