<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Suppliers</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

<h1 style="text-align: center;">Suppliers</h1>

<div class="add-form">
  <h2>Add new supplier</h2>
  <form id="add-form">
    <label for="supplier-name">Supplier's company name</label><br>
    <input type="text" id="supplier-name"><br>
    <label for="supplier-phone-number">Supplier's company phone number</label><br>
    <input type="text" id="supplier-phone-number"><br>
    <label for="supplier-address">Supplier's company address</label><br>
    <input type="text" id="supplier-address"><br><br>
    <button type="submit">Add</button>
  </form>
</div>

<div style="margin-top: 60px;"></div>

<div>
  <input type="text" id="searchInput" onkeyup="searchTable()" placeholder="Search by supplier info">
</div>

<div style="margin-top: 20px;"></div>

<table id="records-table">
  <thead>
  <tr>
    <th onclick="sortTable(0)">ID</th>
    <th onclick="sortTable(1)">Name</th>
    <th onclick="sortTable(2)">Phone number</th>
    <th onclick="sortTable(3)">Address</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="supplier : ${suppliers}">
    <td th:text="${supplier.id}"></td>
    <td th:text="${supplier.name}" ondblclick="enableEdit(this, '/suppliers/', 'name')"></td>
    <td th:text="${supplier.phoneNumber}" ondblclick="enableEdit(this, '/suppliers/', 'phoneNumber')"></td>
    <td th:text="${supplier.address}" ondblclick="enableEdit(this, '/suppliers/', 'address')"></td>
    <td><button class="delete-button" onclick="deleteRecord(this, '/suppliers/')">Delete</button></td>
  </tr>
  </tbody>
</table>

<div style="text-align: center;">
  <a href="/home" class="home-button">Main Page</a>
</div>

<script src="/js/common.js"></script>
<script>
  document.getElementById("add-form").addEventListener("submit", function(event) {
    event.preventDefault();

    var supplierName = document.getElementById("supplier-name").value.trim();
    var supplierPhoneNumber = document.getElementById("supplier-phone-number").value.trim();
    var supplierAddress = document.getElementById("supplier-address").value.trim();

    var requestBody = {
      name: supplierName,
      phoneNumber: supplierPhoneNumber,
      address: supplierAddress
    };

    sendPostRequest(requestBody, '/suppliers');
  });
</script>
</body>
</html>