<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Written-off records</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

<h1 style="text-align: center;">Written-off records</h1>

<div style="margin-top: 60px;"></div>

<div>
  <input type="text" id="searchInput" onkeyup="searchTable()" placeholder="Search by record info">
</div>

<div style="margin-top: 20px;"></div>

<table id="records-table">
  <thead>
  <tr>
    <th onclick="sortTable(0)">ID</th>
    <th onclick="sortTable(1)">Stored medicine ID</th>
    <th onclick="sortTable(2)">Name</th>
    <th onclick="sortTable(3)">Quantity</th>
    <th onclick="sortTable(4)">Date</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="writtenOffRecord : ${writtenOffRecords}">
    <td th:text="${writtenOffRecord.id}"></td>
    <td th:text="${writtenOffRecord.storageProduct.id}"></td>
    <td th:text="${writtenOffRecord.storageProduct.product.name}"></td>
    <td th:text="${writtenOffRecord.quantity}"></td>
    <td th:text="${#temporals.format(writtenOffRecord.writtenOffAt, 'dd MMMM yyyy, HH:mm')}"></td>
  </tr>
  </tbody>
</table>

<div style="text-align: center;">
  <a href="/home" class="home-button">Main Page</a>
</div>

<script src="/js/common.js"></script>
</body>
</html>